{% extends "shared/main_supplier.html" %}

{% block main_content %}
    <h4>
        Dashboard
    </h4>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>

                    <p>New RFQ</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Success Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>44</h3>

                    <p>RFQs to Receive</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>

                    <p>Unique Visitors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid bg-aqua-gradient">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">Calendar</h3>
                    <!-- tools box -->
                    {#                      <div class="pull-right box-tools">#}
                    {#                        <!-- button with a dropdown -->#}
                    {#                        <div class="btn-group">#}
                    {#                          <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">#}
                    {#                            <i class="fa fa-bars"></i></button>#}
                    {#                          <ul class="dropdown-menu pull-right" role="menu">#}
                    {#                            <li><a href="#">Add new event</a></li>#}
                    {#                            <li><a href="#">Clear events</a></li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li><a href="#">View calendar</a></li>#}
                    {#                          </ul>#}
                    {#                        </div>#}
                    {#                        <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>#}
                    {#                        </button>#}
                    {#                        <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>#}
                    {#                        </button>#}
                    {#                      </div>#}
                    {#                      <!-- /. tools -->#}
                    {#                    </div>#}
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <!--The calendar -->
                        <div id="calendar" style="width: 100%">
                            <div class="datepicker datepicker-inline">
                                <div class="datepicker-days" style="">
                                    <table class="table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">October 2017</th>
                                            <th class="next">»</th>
                                        </tr>
                                        <tr>
                                            <th class="dow">Su</th>
                                            <th class="dow">Mo</th>
                                            <th class="dow">Tu</th>
                                            <th class="dow">We</th>
                                            <th class="dow">Th</th>
                                            <th class="dow">Fr</th>
                                            <th class="dow">Sa</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="old day" data-date="1506211200000">24</td>
                                            <td class="old day" data-date="1506297600000">25</td>
                                            <td class="old day" data-date="1506384000000">26</td>
                                            <td class="old day" data-date="1506470400000">27</td>
                                            <td class="old day" data-date="1506556800000">28</td>
                                            <td class="old day" data-date="1506643200000">29</td>
                                            <td class="old day" data-date="1506729600000">30</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1506816000000">1</td>
                                            <td class="day" data-date="1506902400000">2</td>
                                            <td class="day" data-date="1506988800000">3</td>
                                            <td class="day" data-date="1507075200000">4</td>
                                            <td class="day" data-date="1507161600000">5</td>
                                            <td class="day" data-date="1507248000000">6</td>
                                            <td class="day" data-date="1507334400000">7</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1507420800000">8</td>
                                            <td class="day" data-date="1507507200000">9</td>
                                            <td class="day" data-date="1507593600000">10</td>
                                            <td class="day" data-date="1507680000000">11</td>
                                            <td class="day" data-date="1507766400000">12</td>
                                            <td class="day" data-date="1507852800000">13</td>
                                            <td class="day" data-date="1507939200000">14</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1508025600000">15</td>
                                            <td class="day" data-date="1508112000000">16</td>
                                            <td class="day" data-date="1508198400000">17</td>
                                            <td class="day" data-date="1508284800000">18</td>
                                            <td class="day" data-date="1508371200000">19</td>
                                            <td class="day" data-date="1508457600000">20</td>
                                            <td class="day" data-date="1508544000000">21</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1508630400000">22</td>
                                            <td class="day" data-date="1508716800000">23</td>
                                            <td class="day" data-date="1508803200000">24</td>
                                            <td class="day" data-date="1508889600000">25</td>
                                            <td class="day" data-date="1508976000000">26</td>
                                            <td class="day" data-date="1509062400000">27</td>
                                            <td class="day" data-date="1509148800000">28</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1509235200000">29</td>
                                            <td class="day" data-date="1509321600000">30</td>
                                            <td class="day" data-date="1509408000000">31</td>
                                            <td class="new day" data-date="1509494400000">1</td>
                                            <td class="new day" data-date="1509580800000">2</td>
                                            <td class="new day" data-date="1509667200000">3</td>
                                            <td class="new day" data-date="1509753600000">4</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="datepicker-months" style="display: none;">
                                    <table class="table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2017</th>
                                            <th class="next">»</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span
                                                    class="month">Mar</span><span class="month">Apr</span><span
                                                    class="month">May</span><span class="month">Jun</span><span
                                                    class="month">Jul</span><span class="month">Aug</span><span
                                                    class="month">Sep</span><span class="month focused">Oct</span><span
                                                    class="month">Nov</span><span class="month">Dec</span></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="datepicker-years" style="display: none;">
                                    <table class="table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2010-2019</th>
                                            <th class="next">»</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="7"><span class="year old">2009</span><span
                                                    class="year">2010</span><span class="year">2011</span><span
                                                    class="year">2012</span><span class="year">2013</span><span
                                                    class="year">2014</span><span class="year">2015</span><span
                                                    class="year">2016</span><span class="year focused">2017</span><span
                                                    class="year">2018</span><span class="year">2019</span><span
                                                    class="year new">2020</span></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="datepicker-decades" style="display: none;">
                                    <table class="table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2000-2090</th>
                                            <th class="next">»</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span
                                                    class="decade focused">2010</span><span
                                                    class="decade">2020</span><span class="decade">2030</span><span
                                                    class="decade">2040</span><span class="decade">2050</span><span
                                                    class="decade">2060</span><span class="decade">2070</span><span
                                                    class="decade">2080</span><span class="decade">2090</span><span
                                                    class="decade new">2100</span></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="datepicker-centuries" style="display: none;">
                                    <table class="table-condensed">
                                        <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2000-2900</th>
                                            <th class="next">»</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="7"><span class="century old">1900</span><span
                                                    class="century focused">2000</span><span class="century">2100</span><span
                                                    class="century">2200</span><span class="century">2300</span><span
                                                    class="century">2400</span><span class="century">2500</span><span
                                                    class="century">2600</span><span class="century">2700</span><span
                                                    class="century">2800</span><span class="century">2900</span><span
                                                    class="century new">3000</span></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}