{% extends "shared/main_market.html" %}
{% load staticfiles %}

{% block main_content %}
<!-- <div class="login-box">
  <!-- /.login-logo -->
  <!-- <div class="login-box-body">
    <h2><p class="login-box-msg">Metalpolis - Reset Password</p></h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div> -->
  <!-- /.login-box-body -->
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-8 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reset your password</h3>
          <p>Enter your email address and we will send you a link to reset your password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- /.login-box -->
{% endblock %}

